<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbarAdmin()">
	<div class="container-fluid">
		<a class="navbar-brand" href="/admin">Drones - ODS2</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/admin/drones">Drones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/licencas">Licênças de Vôo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/historico">Histórico</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Logoff</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbarReader()">
	<div class="container-fluid">
		<a class="navbar-brand" href="/reader">Drones - ODS2</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/reader/drones">Drones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/reader/licencas">Licênças de Vôo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/reader/historico">Histórico</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Logoff</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbarSeed()">
	<div class="container-fluid">
		<a class="navbar-brand" href="/seed">Drones - ODS2</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/seed/drones">Drones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/seed/licencas">Licênças de Vôo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/seed/historico">Histórico</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Logoff</a>
				</li>
			</ul>
		</div>
	</div>
</nav>