<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/header :: head('Drones')}"></header>

<body>

<nav th:replace="~{fragments/navigationBar :: navbarAdmin()}"></nav>

<div class="container mt-5">
	<h2 class="text-center">Cadastrar Drone</h2>
	<form method="post" action="/admin/drones/criar">
		<p>ID: <input type="text" id="id" name="id" required/></p>
		<p>Modelo: <input type="text" id="modelo" name="modelo"/></p>
		<p>Data da Compra: <input type="date" id="dataCompra" name="dataCompra"/></p>
		<p>Número de Série: <input type="text" id="numeroSerie" name="numeroSerie"/></p>
		<p>Capacidade de Carga: <input type="number" id="capacidadeCarga" name="capacidadeCarga"/></p>
		<p>Capacidade de Bateria: <input type="number" id="capacidadeBateria" name="capacidadeBateria"/></p>
		<input type="submit" value="Salvar" />
	</form>
</div>

</body>
</html>