<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/header :: head('Drones')}"></header>

<body>

<nav th:replace="~{fragments/navigationBar :: navbarReader()}"></nav>

<div class="container">
	<h2>Drones</h2>
	<hr>
	<table class="table">
		<thead>
			<th>ID</th>
			<th>Modelo</th>
			<th>Data da Compra</th>
			<th>Capacidade da Bateria</th>
			<th>Número de Série</th>
			<th>Capacidade de Carga</th>
			<th>ID de Licença</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr th:each="drone : ${drones}">
				<td th:text="${drone.getId()}"></td>
				<td th:text="${drone.getModelo()}"></td>
				<td th:text="${drone.getDataCompra()}"></td>
				<td th:text="${drone.getCapacidadeBateria()}"></td>
				<td th:text="${drone.getNumeroSerie()}"></td>
				<td th:text="${drone.getCapacidadeCarga()}"></td>
				<td th:text="${drone.getLicencaVoo()}"></td>
				<td><a th:href="@{/reader/drones/telemetria/{id} (id = ${drone.getId()})}">Telemetrias</a></td>
				<td><a th:href="@{/reader/drones/licenca/{id} (id = ${drone.getId()})}">Licênça</a></td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>